<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# 🚫 Chặn file và thư mục nhạy cảm
<FilesMatch "^(\.git|\.env|\.vscode|\.idea|\.aws|\.ssh)">
    Require all denied
</FilesMatch>

# 🚫 Chặn truy cập thư mục cấu hình Laravel/PHP
<DirectoryMatch "^(.*)/(config|application/config|app/etc)/">
    Require all denied
</DirectoryMatch>

# 🚫 Chặn file debug / test
<FilesMatch "(phpinfo|php-info|php_info|test|install|i|asdf|time|pinfo|infos)\.php$">
    Require all denied
</FilesMatch>

# 🚫 Chặn các file cấu hình text/backup
<FilesMatch "\.(yml|yaml|ini|json|sql|bak|old)$">
    Require all denied
</FilesMatch>
